html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 120px;
  inset: 0;
  height: 250px;
}

.running-target {
  position: absolute;
  transform: translateX(-100px);
  animation-name: run;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

textarea {
  resize: none;
}

@keyframes run {
  0% {
    transform: translate(-200px, -100px);
  }
  25% {
    transform: translate(200px, -100px);
  }
  50% {
    transform: translate(200px, 100px);
  }
  75% {
    transform: translate(-200px, 100px);
  }
  100% {
    transform: translate(-200px, -100px);
  }
}
